﻿@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

#RegularExpressionValidator1{
    /*position: absolute;*/
    color: red;
}

.btn{
    width:100%;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow{
    right: 0;
}

.select-dropdown{
    width:500px;
}

.card-heading-button{
    text-align:right;
}

.btn-back{
    width:100px;
}

.card-body{
    /*padding-top: 10px !important;*/
}

#CheckBoxListEmployee input{
    width:30px !important;
}

.page-wrapper .new-wrapper{
    max-width: 980px !important;
}
